{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/more.css' %}" />
  </head>
  <body>
    <header class="bg-primary">
      <ul class="d-md-flex">
        <h3 class="m-2 px-3 font-weight-bold text-white">PR TIMELINE</h3>
        <li class="m-1">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="キーワード検索"
            />
            <span class="input-group-btn">
              <input
                type="button"
                class="btn btn-default bg-info text-white"
                value="search"
              />
            </span>
          </div>
        </li>
      </ul>
    </header>
    <div class="container col-9">
      <div id="line2" class="my-3 ">
        <h4 class="text-center ">
          株式会社とてもすごい<small>の2020年</small>
        </h4>
      </div>

      <section class="d-md-flex my-3">
        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>

        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>

        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>
      </section>

      <section class="d-md-flex my-3">
        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>

        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>

        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>
      </section>

      <section class="d-md-flex my-3">
        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>

        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>

        <div id="card" class="m-1 border border-rounded">
          <div class="timeline-body">
            <img src="image/IMG_4012.jpg" />
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p id="card-text">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
